<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [text]="Retour" defaultHref="/tabs/tab3"></ion-back-button>
      </ion-buttons>
    <ion-title>Changer de pseudo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="changePseudo(form)">
        <ion-item>
          <ion-label position="floating">Pseudo : </ion-label>
          <ion-input name="pseudo" placeholder="{{pseudo}}" ngModel></ion-input>
        </ion-item>
        <br>
        <ion-label color="danger">{{prompterror}}</ion-label>
        <br>
        <ion-button expand="full" type="submit">
            Modifier
        </ion-button>
      </form>
</ion-content>
