<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="this.LocalStorageService.isConnected() == false">
      Message
    </ion-title>
    <ion-chip slot="end" [routerLink]="['/tabs/tab3']" *ngIf="this.LocalStorageService.isConnected() == true">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{pseudo}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <div *ngIf="this.LocalStorageService.isConnected() == false">
        <ion-item color="danger">
          <ion-label text-wrap>Vous devez être connecté pour acceder à cette page.</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/tabs/tab3']"><ion-label>S'identifier</ion-label></ion-item>
      </div>
      <div *ngIf="this.LocalStorageService.isConnected() == true"> 
        <ion-label text-wrap>Welcome {{email}}</ion-label><br>
        <ion-label text-wrap>pseudo {{pseudo}}</ion-label><br>
        <ion-button (click)="add()">
          add
        </ion-button>
        <ion-button (click)="update()">
          update
        </ion-button>
        <ion-button (click)="delete()">
          delete
        </ion-button>
        <ion-button (click)="prompt()">
            prompt
          </ion-button>
      </div>
  </ion-card>
</ion-content>
